:root {
  --main-color: #141416;
  --sections-color: #18191d;
  --btc-blue: #3772ff;
  --btc-red: #d33535;
  --btc-greem: #58bd7d;
  --gray: #b1b5c3;
  --on-surface: white;
}

/* ! RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  font-family: DM Sans, sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navbar start */

nav {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 5px 10px;
  background-color: var(--main-color);
  color: var(--on-surface);
  border: 1px solid var(--on-surface);
  border-radius: 50px;
}

.container {
  width: 97%;
  justify-content: space-between;
  font-weight: bold;
  font-size: 15px;
}

.container a {
  text-decoration: none;
  color: var(--on-surface);
}

.container li {
  list-style-type: none;
}

.list:hover .drop-down {
  display: block;
  transition: 5s ease-in-out;
}

.drop-down {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.2);
  top: 60px;
  right: 50%;
  transform: translate(50%);
  padding: 16px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: 2px solid var(--btc-blue);
  background-color: var(--main-color);
}

.drop-down li {
  padding: 8px 16px;
  color: white;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
  cursor: pointer;
}

.triangle {
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  top: -5px;
}

.drop-down li:hover {
  color: var(--btc-blue);
  cursor: pointer;
}

.nav-right {
  gap: 30px;
}

.nav-left {
  gap: 50px;
}

.nav-left .list {
  padding: 17px;
  position: relative;
}

.nav-left .list:hover {
  background-color: var(--btc-blue);
  transition: 0.3s ease-in-out;
}

.nav-right-ul {
  gap: 35px;
  position: relative;
}

.nav-right-ul .down-arrow {
  width: 9px;
  cursor: pointer;
}

.nav-right-corner {
  gap: 15px;
}

.nav-right-corner .user {
  border-radius: 50%;
}

.nav-right-corner .notification svg {
  height: 10px;
}

.nav-svg {
  width: 16px;
  color: var(--on-surface);
  cursor: pointer;
}

.wallet {
  cursor: pointer;
}

.wallet:hover {
  color: var(--btc-blue);
  transition: all 0.3s ease-in-out;
}

.line {
  height: 15px;
  border-left: 0.1px solid white;
  opacity: 0.2;
}

.line-gap {
  margin: 0 5px;
}

.menu-btn {
  display: none;
}

.navicon {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 15px;
  background: white;
  position: relative;
}

.navicon::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  top: 10px;
  border-radius: 15px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.navicon::after {
  content: "";
  border-radius: 15px;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  top: -10px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-list {
  display: none;
}

.menu-btn:checked ~ .menu-list {
  display: block;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after,
.menu-btn:checked ~ .menu-icon .navicon:before {
  top: 0;
}

.hamburger-menu {
  width: 35px;
  height: 3px;
  display: none;
}

/* navbar end */

/* banner start */

#banner {
  background-color: var(--sections-color);
  padding: 6rem 15rem 8rem;
}

.button {
  padding: 15px 30px;
  border: none;
  position: relative;
  margin: 3rem 0;
  color: white;
  background-color: #3772ff;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-250%) skewX(-30deg);
  transition: transform 0.7s ease-in-out;
}

.button:hover::before {
  transform: translateX(200%) skewX(-30deg);
}

a {
  text-decoration: none;
  color: var(--on-surface);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h6 {
  font-size: 24px;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--on-surface);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
}

p {
  color: var(--gray);
}

li {
  list-style-type: none;
}

.banner-container {
  display: flex;
  justify-content: center;
  max-width: 1440px;
}

.banner-center {
  width: 85%;
}

#banner .banner-container .banner-left {
  flex: 1;
}

#banner .banner-container .banner-right {
  flex: 1;
}

/* #banner .banner-container .banner-right img {
  width: 90%;
} */

#banner .banner-container .banner-left .title {
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 24px;
  color: var(--on-surface);
}

#banner .banner-container .banner-left .partners {
  cursor: pointer;
  display: flex;
  overflow: scroll;
  max-width: 800px;
  gap: 50px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#banner .banner-container .banner-left p {
  font-size: 20px;
  line-height: 1.4;
}

#banner .banner-container .banner-left .our-partners {
  font-size: 24px;
  margin-bottom: 20px;
}

/* banner end */

/* coin-container start */

#crypto {
  background-color: var(--main-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coin-container {
  max-width: 1440px;
  width: 100%;
  color: var(--on-surface);
  background-color: var(--sections-color);
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid #23262f;
  border-radius: 25px;
  margin-top: -61px;
}

.coin-title {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 10px;
}

.coin-title .coins {
  color: white;
  cursor: pointer;
  list-style-type: none;
  padding: 5px 20px;
  font-weight: 600;
}

.coin-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
}

.coin-bottom::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #23262f;
  top: 0px;
  width: 100%;
}

.coin-bottom-parts {
  padding: 31px 40px;
  background-color: var(--main-color);
  width: calc(25% - 20px);
  border-radius: 12px;
  color: var(--on-surface);
}

.coins-blue {
  background-color: var(--btc-blue);
  border-radius: 100px;
}

.coin-img {
  display: flex;
  gap: 5px;
}

.dollars {
  display: flex;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.coin-price {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.decrease {
  background-color: var(--btc-red);
  border: none;
}

.increase {
  background-color: var(--btc-greem);
  border: none;
}

.coin-name {
  font-size: 14px;
  font-weight: 700;
}

.coin-name:hover {
  color: var(--btc-blue);
  transition: 0.3s ease-in-out;
}

.top-part {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* coin-container end */

/* table start */

.market-container {
  max-width: 1440px;
  width: 100%;
  padding: 100px 0 59px;
}

.market-container .market .market-top .update {
  font-size: 48px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table .tr {
  width: 100%;
  border-bottom: 2px solid #979494;
  text-align: left;
}

.market-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.market-title {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-right: 9px;
  padding: 20px 24px 40px;
  color: var(--on-surface);
}

.all-coins {
  position: relative;
}

.all-coins::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  top: 22px;
  left: 0;
  background-color: #666363;
}

.all-coins:hover::after {
  background-color: var(--btc-blue);
}

.all-coins:hover {
  color: var(--btc-blue);
}

.market-title .title-item {
  font-size: 14px;
  font-weight: 700;
  margin-right: 9px;
  padding: 8px 24px;
}

.item-button {
  padding: 6px 10px;
  background-color: var(--btc-blue);
  border-radius: 24px;
}

.market-cap,
.market-price,
.market-name,
.market-number,
.market-star,
.market-trade {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.market-row {
  height: 90px;
  border-bottom: 1px solid #23262f;

  position: relative;
}

.market-row:hover {
  background-color: var(--btc-blue);
  background: rgba(55, 114, 255, 0.1);
}

.market-row:hover .trade-button {
  background-color: var(--btc-blue);
  border: 2px solid var(--btc-blue);
}

.market-rate-decrease {
  color: var(--btc-red);
  font-size: 16px;
}

.market-rate-increase {
  color: var(--btc-greem);
  font-size: 16px;
}

.market-coins-center {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 90px;
}

.trade-button {
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  display: inline-block;
  font-size: 14px;
  padding: 6px 12px;
  transition: all 0.3s ease-in-out;
}

.trade-button:hover {
  background-color: var(--btc-blue);
  cursor: pointer;
  border: 2px solid var(--btc-blue);
}

.table-title {
  color: var(--gray);
  font-size: 18px;
}

/* table end */

/* work start */

#work {
  background-color: var(--sections-color);
  padding: 5rem 0;
}

.work-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1440px;
  margin: auto;
}

.work-container .steps {
  display: flex;
}

.title-top {
  font-size: 48px;
}

.title-fs {
  font-size: 20px;
  margin: 16px 0 50px;
}

.steps {
  display: flex;
  gap: 40px;
}

.step {
  letter-spacing: 1px;
  width: 22%;
  position: relative;
}

.work-sub-title {
  padding: 10px 0 15px;
}

.work-line {
  position: absolute;
  top: 40px;
  right: -30%;
}

p.step-item {
  transition: 0.5s all ease-in-out;
}

.step-item:hover {
  transform: rotateY(-360deg);
}

/* work end */

/* comp start */

#comp {
  background-color: var(--main-color);
  padding: 5rem 0;
}

.comp-container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: auto;
  gap: 100px;
}

.comp-left {
  flex: 1;
}

.comp-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#comp .comp-container .comp-right .comp-list li {
  margin-bottom: 24px;
}

#comp .comp-container .comp-right .comp-list li h6 {
  margin-bottom: 10px;
}

#comp .comp-container .comp-right p {
  font-size: 20px;
}

.comp-btn {
  width: 200px;
  padding: 15px 40px;
  border: none;
  position: relative;
  color: white;
  background-color: #3772ff;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s;
}

.comp-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-250%) skewX(-30deg);
  transition: transform 0.7s ease-in-out;
}

.comp-btn:hover::before {
  transform: translateX(200%) skewX(-30deg);
}

.compicon {
  position: relative;
}

.compicon1 {
  position: absolute;
  left: 10%;
  top: 20%;
}

.compicon2 {
  position: absolute;
  left: 30%;
}

.compicon3 {
  position: absolute;
  left: 80%;
  top: 15%;
}

.compicon4 {
  position: absolute;
  top: 70%;
}

.compicon5 {
  position: absolute;
  left: 80%;
  top: 80%;
}

.comp-list h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comp-list li i {
  font-size: 12px;
  padding: 5px;
  background-color: var(--btc-blue);
  border-radius: 50%;
  color: var(--main-color);
}

/* comp end */

/* can start */

#scan {
  background-color: var(--sections-color);
  padding-top: 5rem;
}

.scan-container {
  max-width: 1440px;
  display: flex;
  margin: auto;
}

.scan-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.scan-right {
  flex: 1;
  position: relative;
}

.scan-right img {
  width: 100%;
}

#scan .scan-container .scan-left .scan-list h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

#scan .scan-container .scan-left .scan-list li {
  margin-bottom: 24px;
}

#scan .scan-container .scan-left h6 {
  margin-bottom: 10px;
}

#scan .scan-container .scan-left p {
  font-size: 20px;
}

#scan .scan-container .scan-left .scan-list i {
  font-size: 12px;
  padding: 5px;
  background-color: var(--btc-blue);
  border-radius: 50%;
  color: var(--main-color);
}

#scan .scan-container .scan-right .download {
  padding: 10px 20px;
  color: white;
  position: absolute;
  top: 70px;
  font-weight: 600;
}

#scan .scan-container .scan-left .scan-apps {
  display: flex;
  gap: 15px;
}

/* scan end */

/* customers start */

#customers {
  padding: 5rem 0;
  background-color: var(--main-color);
}

.customers-container {
  max-width: 1440px;
  display: flex;
  margin: auto;
  align-items: center;
}

#customers .customers-container .customers-right .customers-comment {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 48px 45px 41px 52px;
  background-color: var(--sections-color);
  border-left: 15px solid var(--btc-blue);
  border-radius: 20px;
}

#customers .customers-container .customers-left .customers-images {
  display: flex;
  gap: 10px;
}

#customers .customers-container .customers-left .customer {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

#customers .customers-container .customers-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 250px;
}

#customers .customers-container .customers-right {
  flex: 3;
}

#customers .customers-container .customers-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#customers .customers-container .customers-right .director {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

#customers .customers-container .customers-right .director img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#customers .customers-container .customers-left .plus {
  color: var(--btc-blue);
}

#customers .customers-container .customers-left span {
  color: var(--on-surface);
}

#customers .customers-container .customers-right .customers-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customers-bottom-left {
  display: flex;
  gap: 15px;
}

/* customers end */

/* sale start */

#sale {
  background-color: var(--sections-color);
  padding: 2rem 0;
}

.sale-container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: var(--on-surface);
}

.sale-container h4 {
  font-size: 30px;
}

.discover {
  color: white;
}

.sale-container button {
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: var(--on-surface);
  color: var(--sections-color);
}

.sale-container button:hover {
  background-color: var(--main-color);
  color: var(--on-surface);
  transition: all 0.3s ease-in-out;
}

.sale-container h4 {
  margin-bottom: 10px;
}

/* sale end */

/* rockie start */

#rockie {
  border-top: 1px solid #d8d8da20;
}

.rockie-container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.products,
.services {
}

.rockie-middle {
  display: flex;
  flex: 1;
  padding: 4rem 2rem;
  border-right: 1px solid #d8d8da20;
  border-left: 1px solid #d8d8da20;
}

.products,
.services,
.rockie-left,
.rockie-right {
  flex: 1;
}

.rockie-middle li {
  font-weight: 400;
  margin-bottom: 10px;
}

.rockie-middle a:hover {
  color: var(--btc-blue);
}

.products {
  padding-left: 60px;
}

.services {
  padding-left: 10px;
}

.rockie-title {
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-bottom: 20px;
}

.rockie-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 4rem 0;
  padding-right: 110px;
}

.rockie-text {
  max-width: 300px;
}

.rockie-right {
  padding: 3rem 0 4rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rockie-right i {
  font-size: 24px;
  color: var(--gray);
  margin-right: 20px;
}

.rockie-right i:hover {
  color: var(--btc-blue);
  cursor: pointer;
  transition: 0.3s;
}

.rockie-right h4 {
  font-size: 32px;
  margin-bottom: 14px;
}

.input-group {
  margin: 1rem 0;
  width: 350px;
  height: 45px;
  border-radius: 30px;
  display: flex;
  background-color: var(--on-surface);
  padding: 5px;
}

.input-group:focus {
  border: 1px solid var(--btc-blue);
}

.input-group input {
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 20px;
  font-size: 16px;
  padding: 11px;
}

.submit {
  width: 9rem;
  padding: 8px 0;
  position: relative;
  border: none;
  color: white;
  background-color: #3772ff;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s;
  text-align: center;
}

.submit::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-250%) skewX(-30deg);
  transition: transform 0.7s ease-in-out;
}

.submit:hover::before {
  transform: translateX(200%) skewX(-30deg);
}

/* rockie end */

/* footer start */

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d8d8da20;
  padding: 1rem 0;
}

@media screen and (max-width: 1440px) {
  .nav-right-ul,
  .notification,
  .user {
    display: none;
  }

  #banner {
    padding: 6rem 1rem 8rem;
  }
}

@media screen and (max-width: 1440px) {
  .nav-left .list {
    padding: 16px 10px;
  }

  .market-container {
    padding: 5rem 15px;
  }

  .coin-container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1200px) {
  #banner {
    padding: 6rem 1rem 8rem;
  }

  .banner-container {
    flex-direction: column;
    gap: 50px;
  }

  .partners {
    justify-content: space-between;
  }

  #banner .banner-container .banner-right .banner-image {
    width: 100%;
  }

  #banner .banner-container .banner-right {
    margin: auto;
  }

  .coin-bottom-parts {
    width: calc(50% - 20px);
  }

  .work-line {
    display: none;
  }

  .comp-container {
    flex-direction: column;
  }

  .comp-left {
    flex: 1;
  }

  .comp-right {
    padding-left: 15px;
    padding-right: 15px;
  }

  .scan-container {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }

  #customers {
    padding-left: 15px;
    padding-left: 15px;
  }

  .customers-container {
    flex-direction: column;
  }

  .customers-comment {
    margin-top: 2rem;
    width: 100%;
    padding: 48px 40px !important;
  }

  .customers-bottom {
    flex-direction: column;
  }

  #customers .customers-container .customers-left {
    margin-right: 0 !important;
    margin-top: 2rem;
  }

  .credential h6 {
    font-size: 20px;
    padding-bottom: 7px;
  }

  .credential p {
    font-size: 12px;
  }

  .credential {
    margin-bottom: 2rem;
  }

  .sale-container {
    padding: 0 15px;
  }

  .rockie-container {
    flex-direction: column;
    padding: 0 15px;
  }

  .rockie-middle,
  .rockie-right,
  .products {
    padding-left: 0;
  }

  .rockie-middle {
    padding: 0;
  }

  .products {
    padding-right: 100px;
    flex: none;
  }

  .footer-bottom {
    padding: 15px;
    text-align: center;
  }

  .input-group {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-left-ul {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .table,
  .market-main {
    overflow: auto;
  }

  #banner .banner-container .banner-left .partners {
    width: 100%;
  }

  .sale-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 40px;
  }

  .coin-bottom-parts {
    width: 100%;
  }

  .table {
    overflow: auto;
  }

  .comp6 {
    width: 100%;
  }

  .market-container .market .market-top .update {
    font-size: 32px;
  }

  #work {
    padding-right: 15px;
    padding-left: 15px;
  }

  .steps {
    flex-wrap: wrap;
  }

  .steps .step {
    width: 100%;
  }
}
