:root {
  --main-color: #141416;
  --sections-color: #18191d;
  --btc-blue: #3772ff;
  --btc-red: #d33535;
  --btc-greem: #58bd7d;
  --gray: #b1b5c3;
  --on-surface: white;
}

/* ! RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  font-family: DM Sans, sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navbar start */

nav {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 5px 10px;
  background-color: var(--main-color);
  color: var(--on-surface);
  border: 1px solid var(--on-surface);
  border-radius: 50px;
}

.container {
  width: 97%;
  justify-content: space-between;
  font-weight: bold;
  font-size: 15px;
}

.container a {
  text-decoration: none;
  color: var(--on-surface);
}

.container li {
  list-style-type: none;
}

.list:hover .drop-down {
  display: block;
  transition: 5s ease-in-out;
}

.drop-down {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.2);
  top: 60px;
  right: 50%;
  transform: translate(50%);
  padding: 16px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: 2px solid var(--btc-blue);
  background-color: var(--main-color);
}

.drop-down li {
  padding: 8px 16px;
  color: white;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
  cursor: pointer;
}

.triangle {
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  top: -5px;
}

.drop-down li:hover {
  color: var(--btc-blue);
  cursor: pointer;
}

.nav-right {
  gap: 30px;
}

.nav-left {
  gap: 50px;
}

.nav-left .list {
  padding: 17px;
  position: relative;
}

.nav-left .list:hover {
  background-color: var(--btc-blue);
  transition: 0.3s ease-in-out;
}

.nav-right-ul {
  gap: 35px;
  position: relative;
}

.nav-right-ul .down-arrow {
  width: 9px;
  cursor: pointer;
}

.nav-right-corner {
  gap: 15px;
}

.nav-right-corner .user {
  border-radius: 50%;
}

.nav-right-corner .notification svg {
  height: 10px;
}

.nav-svg {
  width: 16px;
  color: var(--on-surface);
  cursor: pointer;
}

.wallet {
  cursor: pointer;
}

.wallet:hover {
  color: var(--btc-blue);
  transition: all 0.3s ease-in-out;
}

.line {
  height: 15px;
  border-left: 0.1px solid white;
  opacity: 0.2;
}

.line-gap {
  margin: 0 5px;
}

.menu-btn {
  display: none;
}

.navicon {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 15px;
  background: white;
  position: relative;
}

.navicon::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  top: 10px;
  border-radius: 15px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.navicon::after {
  content: "";
  border-radius: 15px;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  top: -10px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-list {
  display: none;
}

.menu-btn:checked ~ .menu-list {
  display: block;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after,
.menu-btn:checked ~ .menu-icon .navicon:before {
  top: 0;
}

.hamburger-menu {
  width: 35px;
  height: 3px;
  display: none;
}

/* navbar end */

/* banner start */

#banner {
  background-color: var(--sections-color);
  padding: 6rem 15rem 8rem;
}

.button {
  padding: 15px 30px;
  border: none;
  position: relative;
  margin: 3rem 0;
  color: white;
  background-color: #3772ff;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-250%) skewX(-30deg);
  transition: transform 0.7s ease-in-out;
}

.button:hover::before {
  transform: translateX(200%) skewX(-30deg);
}

a {
  text-decoration: none;
  color: var(--on-surface);
}

h2 {
  font-size: 64px;
}

h2,
h3,
h6 {
  color: var(--on-surface);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
}

p {
  color: var(--gray);
}

.banner-container {
  display: flex;
  justify-content: center;
  gap: 200px;
}

#banner .banner-container .banner-left {
  flex: 1;
}

#banner .banner-container .banner-right {
  flex: 1;
}

#banner .banner-container .banner-left .title {
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 24px;
  color: var(--on-surface);
}

#banner .banner-container .banner-left .partners {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

#banner .banner-container .banner-left p {
  font-size: 20px;
  line-height: 1.4;
}

#banner .banner-container .banner-left .our-partners {
  font-size: 24px;
  margin-bottom: 20px;
}

/* banner end */

/* coin-container start */

#crypto {
  background-color: var(--main-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coin-container {
  max-width: 1440px;
  width: 100%;
  color: var(--on-surface);
  background-color: var(--sections-color);
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid #23262f;
  border-radius: 25px;
  margin-top: -61px;
}

.coin-title {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 10px;
}

.coin-title .coins {
  color: white;
  cursor: pointer;
  list-style-type: none;
  padding: 5px 20px;
  font-weight: 600;
}

.coin-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
}

.coin-bottom::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #23262f;
  top: 0px;
  width: 100%;
}

.coin-bottom-parts {
  padding: 31px 40px;
  background-color: var(--main-color);
  width: calc(25% - 20px);
  border-radius: 12px;
  color: var(--on-surface);
}

.coins-blue {
  background-color: var(--btc-blue);
  border-radius: 100px;
}

.coin-img {
  display: flex;
  gap: 5px;
}

.dollars {
  display: flex;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.coin-price {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.decrease {
  background-color: var(--btc-red);
  border: none;
}

.increase {
  background-color: var(--btc-greem);
  border: none;
}

.coin-name {
  font-size: 14px;
  font-weight: 700;
}

.coin-name:hover {
  color: var(--btc-blue);
  transition: 0.3s ease-in-out;
}

.top-part {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* coin-container end */

/* table start */

.market-container {
  max-width: 1440px;
  width: 100%;
  padding: 100px 0 59px;
}

.market-container .market .market-top .update {
  font-size: 48px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table .tr {
  width: 100%;
  border-bottom: 2px solid #979494;
  text-align: left;
}

.market-top {
  display: flex;
  justify-content: space-between;
}

.market-title {
  display: flex;
  list-style-type: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-right: 9px;
  padding: 20px 24px 40px;
  color: var(--on-surface);
}

.market-title .title-item {
  font-size: 14px;
  font-weight: 700;
  margin-right: 9px;
  padding: 8px 24px;
}

.market-cap,
.market-price,
.market-name,
.market-number,
.market-star,
.market-trade {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.market-row {
  height: 90px;
  border-bottom: 1px solid #23262f;
}

.market-row {
}

.market-rate-decrease {
  color: var(--btc-red);
  font-size: 16px;
}

.market-rate-increase {
  color: var(--btc-greem);
  font-size: 16px;
}

.market-coins-center {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 90px;
}

.market-trade {
}

.table-title {
  color: var(--gray);
  font-size: 18px;
}

@media screen and (max-width: 1440px) {
  .nav-right-ul,
  .notification,
  .user {
    display: none;
  }

  #banner {
    padding: 6rem 1rem 8rem;
  }
}

@media screen and (max-width: 1440px) {
  .nav-left .list {
    padding: 16px 10px;
  }
}

@media screen and (max-width: 1200px) {
  #banner {
    padding: 6rem 1rem 8rem;
  }

  .banner-container {
    flex-direction: column;
  }

  .partners {
    justify-content: space-between;
  }

  #banner .banner-container .banner-right .banner-image {
    width: 100%;
  }

  .coin-bottom-parts {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 1024px) {
  .nav-left-ul {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .coin-bottom-parts {
    width: 100%;
  }
}
